<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Panel de Administrador</title>
  <link rel="stylesheet" href="../Style/Admin.css">
</head>
<body>
  <header>
    <div class="header-container">
      <div class="logo-container">
        <img src="/Resource/Img/logo.jpg" alt="Logo de la tienda" class="logo">
      </div>
      <nav class="navbar">
        <ul>
          <li><a href="Inicio.html">Inicio</a></li>
          <li><a href="./Xbox.html">Xbox</a></li>
          <li><a href="./Playstation.html">Playstation</a></li>
          <li><a href="./Pc.html">Pc</a></li>
          <li><a href="./Nintendo.html">Nintendo</a></li>
          <li><a href="./Android.html">Android</a></li>
          <li><a href="./Componentes.html">Tarjetas de Video</a></li>
        </ul>
      </nav>
      <div class="header-icons">
        <a href="/Index.html" class="login"><i class="fas fa-user"></i></a>
        <a href="./Admin.html" class="options-icon"><i class="fas fa-cog"></i></a>
      </div>
    </div>
  </header>

  <h1>Panel de Administrador</h1>

  <div class="container">
    <div class="button-container">
      <button id="create-game-btn">Crear Nuevo Videojuego</button>
    </div>
    
    <div class="button-container">
      <button type="button" id="logout-btn">Cerrar Sesión</button>
    </div>

    <ul class="view-productos" id="Game-list"></ul>
  </div>

  <script type="module" src="../Controllers/Admin.js"></script>
</body>
</html>