<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo de Componentes para Pc</title>
    <link rel="stylesheet" href="../Style/Catalogo.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo-container">
                <a href="Inicio.html">
                    <img src="../Resource/Img/logo.jpg" alt="Logo de la tienda" class="logo">
                </a>
            </div>
            <nav class="navbar">
                <ul>
                    <li><a href="./Xbox.html">Xbox</a></li>
                    <li><a href="./Playstation.html">Playstation</a></li>
                    <li><a href="./Pc.html">Pc</a></li>
                    <li><a href="./Nintendo.html">Nintendo</a></li>
                    <li><a href="./Android.html">Android</a></li>
                    <li><a href="./Componentes.html">Tarjetas de Video</a></li>
                </ul>
            </nav>
            <div class="header-icons">
                <a href="../templates/Edt_User.html" class="login"><i class="fas fa-user"></i></a>
                <a href="../Templates/Carrito.html" class="cart"><i class="fas fa-shopping-cart"></i> <span class="cart-count">0</span></a>
                <a href="#somos" class="options-icon"><i class="fas fa-cog"></i></a>
            </div>
        </div>
    </header>

    <div class="main-content">
        <section class="featured-products">
            <div class="container">
                <h2>Tarjetas de Video para Pc</h2>
                <div class="row">
                    <div class="col-md-4">
                        <div class="product" onclick="showProductDetails('ASUS DUAL GEFORCE RTX 4060 OC EDITION 8GB GDDR6', 'Multiprocesadores de streaming NVIDIA Ada Lovelace: Hasta el doble de rendimiento y eficiencia energética.', '$1.572.000', '../Resource/Img/asusdual.jpg')">
                            <img src="../Resource/Img/asusdual.jpg" alt="Producto 1">
                            <h3>ASUS DUAL GEFORCE RTX 4060 OC EDITION 8GB GDDR6</h3>
                            <p>$1.572.000</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="product" onclick="showProductDetails('ASUS TUF GAMING GEFORCE RTX 4080 SUPER 16GB', 'Multiprocesadores de streaming NVIDIA Ada Lovelace: Hasta el doble de rendimiento y eficiencia energética.', '$5.200.000', '../Resource/Img/asustuf.jpg')">
                            <img src="../Resource/Img/asustuf.jpg" alt="Producto 2">
                            <h3>ASUS TUF GAMING GEFORCE RTX 4080 SUPER 16GB</h3>
                            <p>$5.200.000</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="product" onclick="showProductDetails('ARJETA ASUS TUF GAMING GEFORCE RTX 4070 12GB', 'Impulsada por la tecnología NVIDIA DLSS3: Un Arco de Ada Lovelace ultraeficiente y Ray Tracing completo.', '$2.834.000', '../Resource/Img/tarjetaasus.jpg')">
                            <img src="../Resource/Img/tarjetaasus.jpg" alt="Producto 3">
                            <h3>ARJETA ASUS TUF GAMING GEFORCE RTX 4070 12GB</h3>
                            <p>$2.834.000</p>
                        </div>
                    </div>
                    <div class="col-md-4">  
                        <div class="product" onclick="showProductDetails('TARJETA INNO3D GEFORCE RTX 4080 SUPER ICHILL X3', 'Coprocesador de gráficos NVIDIA GeForce RTX 4080', '$5.117.000', '../Resource/Img/inno.jpg')">
                            <img src="../Resource/Img/inno.jpg" alt="Producto 4">
                            <h3>TARJETA INNO3D GEFORCE RTX 4080 SUPER ICHILL X3</h3>
                            <p>$5.117.000</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="product" onclick="showProductDetails('TARJETA INNO3D GEFORCE RTX 4070 TI SUPER 16GB', 'Obtén un rendimiento de IA de siguiente nivel en GeForce RTX', '$4.065.000', '../Resource/Img/innoge.jpg')">
                            <img src="../Resource/Img/innoge.jpg" alt="Producto 5">
                            <h3>TARJETA INNO3D GEFORCE RTX 4070 TI SUPER 16GB</h3>
                            <p>$4.065.000</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="product" onclick="showProductDetails('TARJETA DE VIDEO INTEL ARC A770 PHANTOM GAMING', 'Clock: GPU / MemoryReloj GPU: 2200 MHz Reloj de memoria: 17.5 Gbps', '$1.604.000', '../Resource/Img/intel.jpg')">
                            <img src="../Resource/Img/intel.jpg" alt="Producto 6">
                            <h3>TARJETA DE VIDEO INTEL ARC A770 PHANTOM GAMING</h3>
                            <p>$1.604.000</p>
                        </div>
                    </div>
                    <!-- Más productos aquí -->
                </div>
            </div>
        </section>
    </div>

    <!-- Modal de Bootstrap -->
    <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="productModalLabel">Nombre del Producto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="product-details-img">
                        <img src="" alt="Imagen del producto" id="modal-product-img" class="img-fluid">
                    </div>
                    <h2 id="modal-product-title">Nombre del Producto</h2>
                    <p id="modal-product-description">Descripción detallada del producto.</p>
                    <p id="modal-product-price">Precio: $99.99</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" onclick="addToCart()">Agregar al carrito</button>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="footer-container">
            <section id="somos">
                <h3>¿Quienes Somos?</h3>
                <p>Somos 'GFG (Games For Gamers)', una tienda en línea dedicada a ofrecer una amplia gama de videojuegos y componentes para todos los amantes de los juegos. Nuestra pasión por el gaming nos impulsa a brindar la mejor experiencia de compra, con productos de alta calidad y un servicio excepcional.</p>
                
                <h2>Nuestro Objetivo</h2>
            <p>Nuestro objetivo es convertirnos en la tienda favorita de la comunidad gamer, ofreciendo productos innovadores, promociones atractivas y un servicio al cliente que se adapte a las necesidades de nuestros usuarios. En 'GFG', nos esforzamos por mantenernos al día con las tendencias del mercado y proporcionar siempre las mejores opciones para nuestros clientes.</p>
            </section>
            <section id="contacto">
                <h3>Contacto</h3>
                <p>Email: soportegfg@gmail.com</p>
                <p>Cel: 312-423-4452</p>
            </section>
            <p>&copy; 2024 GFG. Todos los derechos reservados.</p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="../Controllers/Script.js"></script>
    <script>
        // Función para mostrar los detalles del producto en un modal
        function showProductDetails(title, description, price, imgSrc) {
            // Actualiza los detalles del producto con los datos proporcionados
            document.getElementById('modal-product-title').innerText = title;
            document.getElementById('modal-product-description').innerText = description;
            document.getElementById('modal-product-price').innerText = `Precio: ${price}`;
            document.getElementById('modal-product-img').src = imgSrc;

            // Actualiza el título del modal
            document.querySelector('.modal-title').innerText = title;

            // Abre el modal
            $('#productModal').modal('show');
        }
    </script>
</body>
</html>
