<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olvide mi Contraseña</title>
</head>
<body>
    <h1>Recuperacion de contraseña</h1>
    <p>Se enviara un correo para poder cambiar la contraseña</p><br>
    <input type="email" id="email" required>
    <button type="button" id="reset-password-btn">Enviar email</button>
    <script type="module" src="../Controllers/Contraseña_Olvidada.js"></script>
</body>
</html>