<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opciones De Usuario</title>
    <link rel="stylesheet" href="../Style/Opciones.css">
</head>
<body>
    <h1>Opciones para Usuarios</h1>
    <button type="button" id="reset-password-btn">Resetear Contraseña</button>
    <button type="button" id="logout-btn">Cerrar Sesion</button>
    <button type="button" id="delete-account-btn">Eliminar Usuario</button>
    <script type="module" src="../Controllers/Edt_User.js"></script>
</body>
</html>