<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo de Videojuegos para Pc</title>
    <link rel="stylesheet" href="../Style/Catalogo.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo-container">
                <a href="Inicio.html">
                    <img src="../Resource/Img/logo.jpg" alt="Logo de la tienda" class="logo">
                </a>
            </div>
            <nav class="navbar">
                <ul>
                    <li><a href="./Xbox.html">Xbox</a></li>
                    <li><a href="./Playstation.html">Playstation</a></li>
                    <li><a href="./Pc.html">Pc</a></li>
                    <li><a href="./Nintendo.html">Nintendo</a></li>
                    <li><a href="./Android.html">Android</a></li>
                    <li><a href="./Componentes.html">Tarjetas de Video</a></li>
                </ul>
            </nav>
            <div class="header-icons">
                <a href="../templates/Edt_User.html" class="login"><i class="fas fa-user"></i></a>
                <a href="../Templates/Carrito.html" class="cart"><i class="fas fa-shopping-cart"></i> <span class="cart-count">0</span></a>
                <a href="#somos" class="options-icon"><i class="fas fa-cog"></i></a>
            </div>
        </div>
    </header>

    <div class="main-content">
        <section class="featured-products">
            <div class="container">
                <h2>Videojuegos Para Pc</h2>
                <div class="row">
                    <div class="col-md-4">
                        <div class="product" onclick="showProductDetails('Minecraft', 'El juego se centra en la colocación y destrucción de bloques, siendo que este se compone de objetos tridimensionales cúbicos, colocados sobre un patrón de rejilla fija. Estos cubos o bloques representan principalmente distintos elementos de la naturaleza, como tierra, piedra, minerales, troncos, entre otros.', '$85.638', '../Resource/Img/minecraft.webp')">
                            <img src="../Resource/Img/minecraft.webp" alt="Producto 1">
                            <h3>Minecraft</h3>
                            <p>$85.638</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="product" onclick="showProductDetails('Diablo III', 'Los demonios de los Infiernos Abrasadores han deseado invadir el reino de los hombres desde siempre. Para llevar a cabo tal plan maligno, un poderoso grupo de señores demoníacos conocidos como los Males Menores exiliaron de los Infiernos a sus hermanos, los Males Supremos, y los enviaron al mundo de Santuario.', '$65.967', '../Resource/Img/diablo.avif')">
                            <img src="../Resource/Img/diablo.avif" alt="Producto 2">
                            <h3>Diablo III</h3>
                            <p>$65.967</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="product" onclick="showProductDetails('Rust', 'Los jugadores deben recoger recursos para sobrevivir y fabricar objetos dentro del juego, a excepción del equipamiento inicial con el que se empieza, que incluye una roca y una antorcha (ocasionalmente en algunos servidores, en su mayoría los modificados, se otorga equipamiento adicional como armas de fuego, ropa y suministros).', '$84.500', '../Resource/Img/rust.avif')">
                            <img src="../Resource/Img/rust.avif" alt="Producto 3">
                            <h3>Rust</h3>
                            <p>$84.500</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="product" onclick="showProductDetails('The Witcher 3: Wild Hunt', 'La historia se centra en el personaje Geralt de Rivia, quien recibe una carta de su amante Yennefer de Vengerberg diciendo que necesita localizarlo lo antes posible. Geralt, después de encontrar a su amante, conoce que Ciri, nieta de Calenthe y exalumna del mismo personaje, es buscada por La Cacería Salvaje, un grupo antiguo de espectros que están liderados por el Rey de La Cacería Salvaje', '$129.999', '../Resource/Img/witcher.jpg')">
                            <img src="../Resource/Img/witcher.jpg" alt="Producto 4">
                            <h3>The Witcher 3: Wild Hunt</h3>
                            <p>$129.999</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="product" onclick="showProductDetails('Cyberpunk 2077', 'El juego comienza con la selección de uno de los tres caminos de la vida para el pasado de V (Gavin Drea o Cherami Leigh): Nómada, Muchacho de la calle o Corpo. En los primeros caminos de la vida, V se hace amigo del matón local Jackie Welles (Jason Hightower), mientras que en el tercero, Welles es un viejo amigo.', '$199.000', '../Resource/Img/cyberpunk.jpg')">
                            <img src="../Resource/Img/cyberpunk.jpg" alt="Producto 5">
                            <h3>Cyberpunk 2077</h3>
                            <p>$79.960</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="product" onclick="showProductDetails('The Forest', 'El juego comienza con el jugador en el papel de Eric Gabriel, viajando en un avión con su hijo Timmy Leblanc, cuando el avión se estrella misteriosamente en una península remota. El jugador y su hijo logran sobrevivir al choque, pero el jugador observa impotente cómo su hijo es secuestrado por un hombre con pintura de guerra roja.', '$31.000', '../Resource/Img/forest.jpg')">
                            <img src="../Resource/Img/forest.jpg" alt="Producto 6">
                            <h3>The Forest</h3>
                            <p>$31.000</p>
                        </div>
                    </div>
                    <!-- Más productos aquí -->
                </div>
            </div>
        </section>
    </div>

    <!-- Modal de Bootstrap -->
    <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="productModalLabel">Nombre del Producto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="product-details-img">
                        <img src="" alt="Imagen del producto" id="modal-product-img" class="img-fluid">
                    </div>
                    <h2 id="modal-product-title">Nombre del Producto</h2>
                    <p id="modal-product-description">Descripción detallada del producto.</p>
                    <p id="modal-product-price">Precio: $99.99</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" onclick="addToCart()">Agregar al carrito</button>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="footer-container">
            <section id="somos">
                <h3>¿Quienes Somos?</h3>
                <p>Somos 'GFG (Games For Gamers)', una tienda en línea dedicada a ofrecer una amplia gama de videojuegos y componentes para todos los amantes de los juegos. Nuestra pasión por el gaming nos impulsa a brindar la mejor experiencia de compra, con productos de alta calidad y un servicio excepcional.</p>
                
                <h2>Nuestro Objetivo</h2>
            <p>Nuestro objetivo es convertirnos en la tienda favorita de la comunidad gamer, ofreciendo productos innovadores, promociones atractivas y un servicio al cliente que se adapte a las necesidades de nuestros usuarios. En 'GFG', nos esforzamos por mantenernos al día con las tendencias del mercado y proporcionar siempre las mejores opciones para nuestros clientes.</p>
            </section>
            <section id="contacto">
                <h3>Contacto</h3>
                <p>Email: soportegfg@gmail.com</p>
                <p>Cel: 312-423-4452</p>
            </section>
            <p>&copy; 2024 GFG. Todos los derechos reservados.</p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="../Controllers/Script.js"></script>
    <script>
        // Función para mostrar los detalles del producto en un modal
        function showProductDetails(title, description, price, imgSrc) {
            // Actualiza los detalles del producto con los datos proporcionados
            document.getElementById('modal-product-title').innerText = title;
            document.getElementById('modal-product-description').innerText = description;
            document.getElementById('modal-product-price').innerText = `Precio: ${price}`;
            document.getElementById('modal-product-img').src = imgSrc;

            // Actualiza el título del modal
            document.querySelector('.modal-title').innerText = title;

            // Abre el modal
            $('#productModal').modal('show');
        }
    </script>
</body>
</html>