<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Cuenta</title>
    <link rel="stylesheet" href="../Style/Style.css">
</head>
<body>
    <form action="" id="form-container">
        <h1>Crear Cuenta</h1>
        <input type="number" class="input" id="User-Cedula" placeholder="Cedula" required>
        <input type="text" class="input" id="User-Nombre" placeholder="Nombre Completo" required>
        <input type="text" class="input" id="User-Direccion" placeholder="Dirección" required>
        <input type="number" class="input" id="User-Telefono" placeholder="Telefono" required>
        <input type="date" class="input" id="User-Fecha" placeholder="Fecha" required>
        <input type="email" class="input" id="User-Correo" placeholder="Correo" required>
        <input type="password" class="input" id="User-Contraseña" placeholder="Contraseña" minlength="8" required>
        <div id="password-alert" style="color:rgb(91, 0, 0)"></div>
        <button type="button" class="button bg-black" id="signin-btn">Crear Cuenta</button>
        <a href="../Index.html">Ya tienes Cuenta?</a>
    </form>
    <script type="module" src="../controllers/Registro.js"></script>
</body>
</html>